* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  height: 100vh;
  outline: 4px solid #ffc7d4;
}

div,
header,
aside,
footer {
  min-height: 100px;
}

.scheme1 {
  background-color: #1f4e5a;
}

.scheme1-1 {
  background-color: #009c8e;
}

.scheme1-2 {
  background-color: #ffdb6a;
}

.scheme1-3 {
  background-color: #ffa658;
}

.scheme2 {
  background-color: #4a3341;
}

.scheme2-1 {
  background-color: #6d4d6e;
}

.scheme2-2 {
  background-color: #7e6991;
}

.scheme3 {
  background-color: #205374;
}

.scheme3-1 {
  background-color: #7de393;
}

.scheme4 {
  background-color: #6b2a5f;
}

.scheme4-1 {
  background-color: #b44c78;
}

.scheme4-2 {
  background-color: #ff7079;
}

.scheme4-3 {
  background-color: #f9ac9d;
}

.scheme4-4 {
  background-color: #f7d9c4;
}

/* layout */
.three-cols {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.fill-height {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.auto-responsive-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
  grid-gap: 1rem;
}

.responsive-sidebar {
  display: grid;
  grid-template-areas: "header" "content" "sidebar" "footer";
  grid-template-rows: auto 2fr 1fr auto;
}

@media only screen and (min-width: 768px) {
  .responsive-sidebar {
    display: grid;
    grid-template-areas: "header header" "sidebar content" "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 250px 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .responsive-sidebar {
    display: grid;
    grid-template-areas: "header header header" "content content sidebar" "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
  }
}

.header {
  grid-area: header;
}
.content {
  grid-area: content;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}
